.info_acc {
    background-color: $graphique2;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 25%;
    padding: 2%;
    border-radius: 8px;
}

.info_acc h1 {
    font-size: 2.5vw;
    font-family: $medium;
}

.info_acc p {
    font-size: 1.5vw;
    font-family: $thin;
    font-weight: bold;

}