.container_error {
    display: flex;
    position: relative;
    margin: 5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container_error .title_login {
    display: flex;
    flex-wrap: wrap;
}

.container_error #responsive_margin{
    color: black;
}
.error_message {
    font-weight: bold;
    margin: auto;
}

.error_message h1 {
    font-family: "medium", sans-serif;
    color: $rouge_olympique;
    font-size: 4vw;
}

.error_message p {
    font-family: "thin", sans-serif;
    text-align: center;
    transition: .2s;
}

.error_message p:hover {
    font-size: 2.5vw;
    transition: .2s;
}